# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/
dist/

# Jupyter checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Large model files (if any)
*.joblib
sentiment_model.joblib
vectorizer.joblib

# Ignore large data and model files
Reviews.csv
*.joblib
vectorizer.joblib
*.pkl
